<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        if cssLibs
            link(rel="stylesheet", href=cssLibs)
        link(rel="stylesheet", href=styles)
    body
        h1 Heading #1
        h2 Heading #2
        h3 Heading #3
        img(src=imgUrl + 'testimg.jpg')
        hr
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero est voluptates ad quia voluptatum tempore saepe placeat culpa temporibus unde reiciendis assumenda ducimus, cupiditate impedit qui nulla dignissimos doloremque in?
        div.test-src
        if jsLibs
            script(src=jsLibs)
        script(src=scripts)